@charset "UTF-8";

@font-face {
    font-family: 'Great Vibes';
    src: url('../font/GreatVibes-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LibreBaskerville';
    src: url('../font/LibreBaskerville-Bold.ttf') format(truetype);

}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    box-sizing: border-box;
    list-style: none;
}
header {
    background-color: deeppink;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header > h1 {
    font-family: 'Great Vibes';
    font-size: 35px;
}
header > nav > ul  {
    flex-flow: row nowrap;
    display: flex;
    
}
header > nav > ul > li {
    padding-right: 50px;
}
header > nav > ul > li > a {
    color: black;
}
body {
    background-image: url(../img/fundo.jpg);
    background-attachment: fixed;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 15px;
}
.galeria1 {
   display: flex;
   flex-flow: row wrap;
   
}
.galeria1 > div {
    flex: 1 1 360px;
}
main {
    min-width: 30%;
    max-width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px  0px 3px rgba(0, 0, 0, 0.616);
    font-family: 'LibreBaskerville';
}
main > .galeria1 > div {
    padding: 20px;
    margin: 10px;

}
main > h1 {
    text-align: center;
}
section.contato {
    border-radius: 10px;
    /* max-height: 300px; */
    background-color: rgb(247, 224, 248);

    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}
section > h2 {
    padding-bottom: 30px;
    font-size: 30px;
}
footer {
    background-color: deeppink;
    padding: 20px;

}

.pequeno{
    width: 60px;
    height: 50px;
}
.cor1 {
    color: deeppink;
}

.logo{
    width: 50px;
    border-radius: 50%;
    margin: 0%;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
}
.logo:hover {
    border: 2px solid rgba(224, 96, 96, 0.623);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.637);
    transform: translate(-4px, -4px);
    transition-duration: 0.2s;
}
.logo:active {
    transform: scale(95%);
}